# Flutter
**/*.lock
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/FlutterPluginRegistrant/
**/ios/Flutter/GeneratedPluginRegistrant/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/flutter_*.png
**/pubspec.lock
**/.vscode/

# iOS
**/*.mode1v3
**/*.mode2v3
**/*.moved-aside
**/*.pbxuser
**/*.perspectivev3
**/*.xcuserstate
**/*.hmap
**/.DS_Store
**/Carthage
**/Carthage/Build
**/DerivedData/
**/*.xccheckout
**/xcuserdata/
**/*.ipa
**/*.xcarchive
**/Payload/
**/.symlinks/
**/Profile/
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/Pods/

# Android
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/gradle.xml
**/.idea/assetWizardSettings.xml
**/.idea/dictionaries
**/.idea/jarRepositories.xml
**/.idea/jsLibraryMappings.xml
**/.idea/compiler.xml
**/android/.DS_Store
**/build/
**/captures/
**/.externalNativeBuild
**/.cxx/

# VSCode
.vscode/

# General
**/.DS_Store
**/Thumbs.db
**/*.log
**/node_modules/
**/.npm/
**/.yarn/
**/.idea/
**/.vs/
**/.history/
**/.cache/
**/*.tmp
**/*.bak
**/*.swp
**/.*.swo
**/*~
